*{
margin: 0;
padding: 0;

}
/*INICIO.HTML*/
/*FONDO*/
/*BARRA DE INICIO*/
header{
width: 100%;
}
.nav-main{
background-color: #1800D8;
display: flex;
justify-content: space-evenly; 
align-items:center;
}
.nav-main >a{
color: #fff;
font-size: 100%;
background-color: #1800D8;
text-decoration: none;
font-family: 'Cormorant', serif;  
text-shadow: 0px 0px 5px #000000;
text-decoration: none;
}
nav > a:hover{
text-decoration: underline;
}
/*LOGO DE INICIO*/

.header-logo{
width: 4%;
height: auto;
}
/*TITULO Y SUBTITULO*/
.fondo{
background-image: url(../image/Fondo-inicio.jpg.jpg);
background-size: 100% 100%; 

}
.titulo{
height: 20em;
display: flex;
justify-content: center;
align-items: center;
}
.titulo h1{
color:#fff;
font-size: 5em;
font-family: 'Cormorant', serif;
text-shadow: 0px 0px 10px #000000;
letter-spacing: 0.5em;
animation:focus-in-contract-bck 1s cubic-bezier(.25,.46,.45,.94) both;
}
@keyframes focus-in-contract-bck{0%{letter-spacing:1em;transform:translateZ(300px);filter:blur(12px);opacity:0}100%{transform:translateZ(12px);filter:blur(0);opacity:1}}
.subtitulo{
height: 4em;
display: flex;
justify-content:center;
align-items: center;
background-color: #1900d87b;
box-shadow: 0px 0px 55px #000000;
}
.subtitulo p{
color:#fff;
font-size: 1.5em;
font-family: 'Cormorant', serif;
text-shadow: 0px 0px 3px #ffffff;
letter-spacing: 0.2em;
}
/*AZULES*/
.azul-inicio{
height: 22em;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.azul-inicio img{
box-shadow: 0px 0px 40px #000000;
width: 11%;
height: auto;
border-radius: 100%;
}
/*BARRA*/
.barra-inicio{
height: 2em;
width: 100%;
margin-top: -1.19%;
margin-bottom: -1%;
background-image: linear-gradient(to left,  #1800D8, #1900d8b1, rgba(255, 255, 255, 0.26));
}


/* IMAGEN Y FORMULARIO */
.formulario-inicio{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
background-color: #fff;
height: 35em;
}
.formulario-inicio form{
width: 150%;
margin-right: 6%;
border:  0.2em solid #0f007d;
border-radius: 3%;
box-shadow: 0px 0px 10px #c2c2ff;
background-color: #8c8c8c1e;
}
.titulo-form{
display:flex;
flex-direction: column;
align-items: center;
}
.titulo-form h2{
margin-top: 5%;
font-family:'Cormorant', serif; 
font-size: 4em;
color: #0f007d;
}
.titulo-form p{
font-size: 1.5em;
margin-top: 5%;
font-family:'Cormorant', serif;
color: #fff; 
background-color: #0f007d;
}
/* EMAILFORMULARIO*/
.ingrese-mail-inicio{
color: #0f007d;
font-family:'Cormorant', serif; 
font-size: 1.6em;
margin-left: 10%;
}
.ingrese_mail_inicio{
width: 50%;
margin-left: 10%;
box-shadow:0px 0px 3px #0f007d;
}
/*COMENTARIO FORMULARIO*/
.ingrese-comentario-inicio{
color: #0f007d;
font-family:'Cormorant', serif; 
font-size: 1.6em;
margin-left: 10%;
margin-top: 5%;
}
.ingrese_comentario_inicio{
width: 50%;
margin-left: 10%;
box-shadow:0px 0px 3px #0f007d;
}
/*BOTON ENVIAR*/
.enviar-form-inicio{
width: 50%;
margin-left: 10%;
}
.imagen-formulario img{
width: 85%;
border-radius: 2%;
margin-left: 5%;
}

/*FOOTER*/
.footer-foo{ 
background-color: #1800D8;
box-shadow: 1px 5px 20px #1800D8;
display: flex;
justify-content: space-evenly; 
align-items:center;
width: 100%;
margin-top: 5%;


}
.footer-foo h2,p{
margin-top: 1%;
font-family: 'Cormorant', serif;
font-size: 100%;
color: #fff;

}
.footer-foo img{
width: 4%;
height: auto;
margin-right: 4%;
margin-top: 0.5% ;
}

/*FULL RESPONSIVE PARA MOBILE
@media (max-width:200px) {
.nav-main{
flex-direction: column;
align-items: center;
text-align: center;
line-height: 1.5em;
width: 100%;
height: auto;
}
.nav-main img{
width: 35%;
}
.titulo{
justify-content: center;
align-items: center;
font-size: 0.1em;

height: 30em;
flex-wrap: wrap;

}
.subtitulo{
font-size: 10%;
width: 100%;
text-align: center;
}
.azul-inicio{
height: 10em;
}
.azul-inicio img{
width: 20%;
}
.barra-inicio{
width: 100%;
}
.global_form_container{
flex-direction: column;
justify-content: space-evenly;
align-items: center;
height: 70em;
}
.global_form_container img{
width: 55%;
}
.form_container{
width: 89%;
height: 40em;
}
.titulo-form h2{
justify-content: center;
align-items: center;
font-size: 300%;
}
.nuestros-agentes p{
font-size: 90%;
}

form {
height: 50%;
}
.footer-foo{
height: 20em;
margin-top: 80px;
justify-content: space-evenly;
flex-direction: column;
}
.footer-foo img{
width: 40%;
}
.footer-foo p{
font-size: 100%;
flex-wrap: wrap;
}
.telefono-form{
font-size: 0%;
}
}

*/

/*---------------------QUIENES SOMSOS---------------------*/
/*TILO QUIENES+ POSICIONAMIENTO*/

/*QUINES SOMOS PRIMERAPARTE*/

.section_grid {
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 30em 1fr ;
grid-template-areas: 
"area2  area1"
"area3 area4"
"area6 area5"
"area7 area8"
"area10 area9"
"area11 area12";
}
.logo_quienes_titulo{
grid-area: area1; 
display: flex;
align-items: center;
justify-content: center;
}
.logo-quienes{
width: 55%;
position: relative;
top: 3%;
right: 6%;
}
.titulo_quienes {
grid-area: area2;
}
.titulo-quienes{
font-size: 6.3em;
font-family:'Cormorant', serif; 
color: #1800D8;
text-align: center;
position: relative;
top: 50%;
}
.imagen__muelle {
grid-area: area3;
display: flex;
align-items: center;
justify-content: center;
}
.imagen-muelle{
width: 70%;
border-radius: 2%;
margin-left: 0;
}
.texto-uno-quienes{
grid-area: area4;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.texto-uno-quienes p{
color: #1800D8;
font-size: 1.6em;
padding: 0px 0px 12%;
margin-right: 20%;
letter-spacing: 5px;
font-family:'Cormorant', serif; 
}
.azules-iconos {
grid-area: area5;
}
.azules-quienes {
display: flex;
justify-content: space-evenly;
margin-left: 10%;
height: auto;
width: 45%;
border-radius: 100%;
}
/*QUIENES SOMOS SEGUNDA PARTE*/
.texto-dos-quienes{
grid-area: area6;
}
.texto-dos-quienes p{
color: #1800D8;
font-size: 150%;
letter-spacing: 5px;
font-family:'Cormorant', serif; 
margin-top: 10%;
padding:0% 15% 0%;
}
.empleado-dos{
width: 70%;
margin-top: 10%;
box-shadow:0px 0px 10px #000000;
border-radius: 20px;
position: relative;
left: 1%;
}
/*NUESTRA MISION Y VISION*/
/*LOGO Y NUESTRA MISION TITULO / TEXTO*/
/*MISION*/
.logo_mision{
grid-area: area7;
display: flex;
align-items: center;
justify-content: center;
}
.logo-mision{
width: 55%;   
}
.titulo-mision{
grid-area: area8;
display: flex;
align-items: center;
margin-top: 10%;
font-size: 6.3em;
font-family: 'Cormorant', serif;
color: #1800D8;
text-shadow:0px 0px 5px #ffffff;
}
.texto-mision{
grid-area: area9;
color: #1800D8;
font-size: 150%;
letter-spacing: 5px;
font-family:'Cormorant', serif; 
padding:0% 15% 0%;
}
/*VISION*/
.titulo-vision{
grid-area: area10;
display: flex;
align-items: center;
justify-content: center;
font-size: 6.3em;
font-family: 'Cormorant', serif;
color: #1800D8;
text-shadow:0px 0px 5px #ffffff;
}
.nuestra-vision{
grid-area: area11;
color: #1800D8;
font-size: 150%;
letter-spacing: 5px;
font-family:'Cormorant', serif; 
padding:0% 15% 0%;
height: auto;
} 
.imagen_vision{
grid-area: area12;
display: flex;
justify-content: center;
align-items: flex-end;
}
.imagen-vision{
width: 80%;
box-shadow: 0px 0px 10px #000000;
border-radius: 20px;

}
/*
@media (max-width: 400px){
.section_grid{
display: flex;
flex-direction: column;
}
.logo_quienes_titulo{
margin-left:15% ;
}
.titulo_quienes{
font-size: 55%;
}
.imagen-muelle{
width: 50%;
margin-top: 10%;
}
.texto-uno-quienes{
text-align:justify;
font-size: 64%;
margin-left: 18%;
margin-top: 20%;
}
.azules-quienes{
margin-left: 21%;
margin-top: 1%;
width: 47%;
}
.empleado-dos{
margin-left: 19%;
margin-top: 15%;
width: 60%;
}
.texto-dos-quienes{
text-align:justify;
font-size: 64%;
margin-left: 1%;
margin-top: 1%;
}
.logo_mision{
margin-left: 5%;
margin-top: 15%;
}
.titulo-mision{
font-size: 4em;
text-align: center;
}
.texto-mision{
text-align:justify;
font-size: 100%;
margin-left: 1%;
margin-top: 10%;
}
.titulo-vision{
font-size: 4em;
text-align: center;
margin-top: 10% ;
}
.nuestra-vision{
text-align:justify;
font-size: 100%;
margin-left: 1%;
margin-top: 10%;
}
.imagen_vision{
margin-top: 15%;
}
}
*/
/*---------------------ASESORAMIENTO ADUANERO---------------------*/

.contenedor-grid-aseso{
display: grid;
grid-template-columns: 1fr 0.4fr;
grid-template-rows: 50em;
grid-template-areas:
"area1 area2" ;
}

.inicio-consultoria{
grid-area: area1;
height: 50em;
display: flex;
flex-direction: column;
}
.inicio-consultoria h1{
font-size: 8em;
font-family: 'Cormorant', serif;
color: #1800D8;
padding-top: 10%;
text-align:inherit;
margin-left: 10%;
}
.inicio-consultoria p{
font-size: 1.5em;
text-align: justify ;
margin-left: 14%;
margin-right: 9% ;
padding-top: 5%;
color: #1800D8;
}
.imagen_consultoria{
grid-area: area2;
display: flex;
justify-content: center;
align-items: center;
background-repeat: repeat;
}
.imagen-consultoria{
width: 86%;
height: 80%;
border-radius: 1%;
box-shadow:0px 0px 5px #000000;
}

/*segunda parte consultoria*/
.experimentados-container{
display: grid;
height: 100%;
grid-template-columns: 1fr 1fr;
grid-template-rows: 0.5fr 0.5fr ;
grid-template-areas:
"area1 area2 "
"area3 area4";
}
.logo-asesoramiento{
grid-area: area1;
width: 50%;
margin-left: 27%;
}
.consultores-imagen{
grid-area: area3;
width: 90%;
margin-left: 10%;
}
.experimentados-container h2{
grid-area: area2;
font-size: 6em;
color: #1800D8;
font-family: 'Cormorant', serif;
margin-top: 10%;
width: 100%;
}
.experimentados-container p{
font-family: 'Cormorant', serif;
grid-area: area4;
grid-row: 2/4;
font-size: 1.5em;
text-align: justify ;
margin-right: 20% ;
color: #1800D8;
line-height: 2em;
}
.espacio-experimentados{
font-family: 'Cormorant', serif;
position: relative;
top: 4%;
text-align: justify;
}
/*AZULES*/
.azules_asesoramiento{
display:flex;
justify-content: space-evenly;
align-items: center;
}
.azules_asesoramiento img{
width: 12em;
border-radius: 100%;
box-shadow:0px 0px 20px #8c8c8c;
}

/* TERCERA PARTE COSULTORIA*/
.barra_asesoramiento{
margin-top: 5%;
height: 10px;
background-image: linear-gradient(to left,  #1800D8, #1900d8b1, rgba(255, 255, 255, 0.26));
}
.titulo_servicios{
display:flex;
justify-content: center;
align-items: flex-end;
height: 150px;
}
.titulo-servicos{
font-family: 'Cormorant', serif;
font-size: 4em;
color: #1800D8;
text-shadow: #ffffff;
}
.puntos_servicios{
display:flex;
flex-direction: column;
justify-content: space-evenly;
height: 550px;
}
.puntos_servicios li{
letter-spacing: 3px;
font-size: 1.2em;
font-family: 'Cormorant', serif;
margin-left: 11%;
color: #1800D8;
}

/*FORMULARIO ASESORAMIENTO*/
.formulario-quienes{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
background-color: #fff;
height: 35em;
padding-left: 32%;
padding-right: 30%;
}
.formulario-quienes form{
width: 100%;

border:  0.2em solid #0f007d;
border-radius: 3%;
box-shadow: 0px 0px 10px #c2c2ff;
background-color: #8c8c8c1e;
}
.titulo-form-quienes{
display:flex;
flex-direction: column;
align-items: center;
}
.titulo-form-quienes h2{
margin-top: 2%;
font-family:'Cormorant', serif; 
font-size: 4em;
color: #0f007d;
}
.titulo-form-quienes p{
font-size: 1.5em;
margin-top: 2%;
font-family:'Cormorant', serif;
color: #fff; 
background-color: #0f007d;
}
/* EMAILFORMULARIO*/
.ingrese-mail-quienes{
color: #0f007d;
font-family:'Cormorant', serif; 
font-size: 1.6em;
margin-left: 10%;
}
.ingrese_mail_quienes{
width: 50%;
margin-left: 10%;
box-shadow:0px 0px 3px #0f007d;
}
/*COMENTARIO FORMULARIO*/
.ingrese-comentario-quienes{
color: #0f007d;
font-family:'Cormorant', serif; 
font-size: 1.6em;
margin-left: 10%;
margin-top: 5%;
}
.ingrese_comentario_quienes{
width: 50%;
margin-left: 10%;
box-shadow:0px 0px 3px #0f007d;
}
/*BOTON ENVIAR*/
.enviar-form-quienes{
width: 50%;
margin-left: 10%;
}


/*----------------- NUESTRO SERVICIO----------------------*/

.container-servicio{
display: flex;
flex-direction: column;
}
.container-servicio h1{
font-family:'Cormorant', serif; 
color: #1800D8;
font-size: 7em;
height: 2em;
display: flex;
align-items: flex-end;
justify-content: center;
}
.container-servicio p{
font-family:'Cormorant', serif; 
color: #0f007d;
font-size: 2em;
height: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.azul-servicio{
width: 100%;
height: 20em;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.azul-servicio  img{
width: 10em;
border-radius: 100%;
box-shadow:0px 0px 30px #0f007d;
}
/*Espacio del container*/
.carousel{
background-color: #0f007d;
}
/*Margen del container*/
.carousel-item{
margin-left: 24%;
margin-top: 5%;
}
/*Edicion de la imahgens*/
.carru{
box-shadow:1px 0px 50px #1800D8;
border-radius: 2%;
}

/*segunda parte servicio*/
.container-servicio-dos{
display: flex;
justify-content: space-evenly;
background-color: #0f007d;
height: 35em;
}
.container-servicio-dos h2{
width: 100%;
height: 1.3em;
font-family:'Cormorant', serif; 
color: #fff;
font-size:5em;
display: flex;
align-items: flex-end;
text-shadow: 5px 5px 5px #060036;
margin-top: 15% ;
}
.container-servicio-dos p{
font-family:'Cormorant', serif; 
font-size: 2em;

text-shadow: 5px 5px 5px #060036;
}
.container-servicio-dos li{
font-family:'Cormorant', serif; 
color: #fff;
font-size: 1.1em;
margin-top: 7%;
text-shadow: 5px 5px 5px #060036;
}
/*Tercera parte servicio*/ 
.container-servicio-tres{
height: 100%;
}
/*SERVICIO AEREO*/
.aereo{
width: 100%;
display: grid;
height: 50em;
grid-template-columns: 0.8fr 1fr;
grid-template-rows: 1.9fr 1.9fr 1fr ;
grid-template-areas: 
"aereo1 aereo2"
"aereo3 aereo4"
"aereo5 aero6"
}
.aereo img{
grid-area: aereo1;
grid-row: 1/6;
width:90%;
margin-left: 5%;
margin-top: 10%;
border-radius: 3%;
box-shadow:0px 0px 10px #0f007d;
}
.aereo h2{
grid-area: aereo2;
display: flex;
align-items: center;
justify-content: center;
font-size: 6em;
font-family:'Cormorant', serif; 
color: #1800D8;
letter-spacing: 0.3em;
}
.lista-aereo{
grid-area:aereo4 ;
margin-left: 5%;
font-family:'Cormorant', serif; 
font-size: 1.5em;
color: #1800D8;
}
.contacto-aereo{
grid-area: aero6;
width: 50%;
height: 30%;
margin-left: 25%;
margin-top: 5%;
box-shadow: 0px 0px 8px #060036;
}

/*SERVICIO MARITIMO*/

.maritimo{
background-color: #0f007d;
width: 100%;
height: 50em;
display: grid;
grid-template-columns:  1fr 0.8fr;
grid-template-rows: 1.9fr 1.9fr 1.9fr ;
grid-template-areas: 
"maritimo1 maritimo2"
"maritimo3 maritimo4"
"maritimo5 maritimo6"
}
.maritimo h2{
grid-area: maritimo1;
display: flex;
align-items: flex-end;
justify-content: center;
font-size: 5em;
font-family:'Cormorant', serif; 
color: #fff;
letter-spacing: 0.3em;
margin-left: 10%;
margin-bottom: 5%;
}
.maritimo img{
grid-area: maritimo2;
width: 80%;
height: 35em;
grid-row: 1/6;
border-radius: 3%;
box-shadow:0px 0px 50px #1800D8;
margin-left: 10%;
margin-top: 20%;
}
.lista-maritimo{
grid-area: maritimo3;
font-family:'Cormorant', serif; 
font-size: 1.5em;
color: #fff;
margin-left: 15%;
margin-top: 5%;
}
.contacto-maritimo{
grid-area: maritimo5;
width: 50%;
height: 20%;
margin-left: 25%;
margin-top: 10%;
box-shadow: 0px 0px 20px #1800D8;
}

/*SERVICIO TERRESTRE*/
.terrestre{
width: 100%;
display: grid;
height: 50em;
grid-template-columns: 0.8fr 1fr;
grid-template-rows: 1.9fr 1.9fr 1fr ;
grid-template-areas: 
"terrestre1 terrestre2"
"terrestre3 terrestre4"
"terrestre5 terrestre6"
}
.terrestre img{
grid-area: terrestre1;
grid-row: 1/6;
width:90%;
height: 50%;
margin-left: 5%;
margin-top: 40%;
border-radius: 3%;
box-shadow:0px 0px 10px #0f007d;
}
.terrestre h2{
grid-area: terrestre2;
display: flex;
align-items: center;
justify-content: center;
font-size: 5em;
font-family:'Cormorant', serif; 
color: #1800D8;
letter-spacing: 0.3em;
margin-top: 10%;
}
.lista-terrestre{
grid-area: terrestre4 ;
margin-left: 5%;
font-family:'Cormorant', serif; 
font-size: 1.5em;
color: #1800D8;
margin-right: 7%;
margin-top: 5%;

}
.contacto-terrestre{
grid-area: terrestre6;
width: 50%;
height: 30%;
margin-left: 25%;
margin-top: 5%;
box-shadow: 0px 0px 8px #060036;
}