* {
  margin: 0;
  padding: 0; }

/*--------------------NAV---------------------*/
.nav-main {
  background-color: #1800D8;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.nav-main > a {
  color: #fff;
  font-size: 100%;
  background-color: #1800D8;
  text-decoration: none;
  font-family: 'Cormorant', serif;
  text-shadow: 0px 0px 5px #000000;
  text-decoration: none; }

nav > a:hover {
  text-decoration: underline; }

/*LOGO DE INICIO*/
.header-logo {
  width: 4%;
  height: auto; }

@media (min-width: 1025px) and (max-width: 1200px) {
  .nav-main > a {
    font-size: 1em; }
  .header-logo {
    width: 8%;
    height: auto; } }

@media (min-width: 768px) and (max-width: 1025px) {
  .nav-main > a {
    font-size: 1em; }
  .header-logo {
    width: 8%;
    height: auto; } }

@media (min-width: 480px) and (max-width: 780px) {
  .nav-main > a {
    font-size: 1em; }
  .header-logo {
    width: 8%;
    height: auto; } }

@media (min-width: 500px) and (max-width: 780px) {
  .nav-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5em;
    width: 1fr;
    height: 20em; }
  .nav-main a {
    font-size: 1.4em;
    transition: 0.5s; }
  .nav-main img {
    width: 6em; } }

/*FULL RESPONSIVE 480  PARA NAV*/
@media (max-width: 480px) {
  .nav-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5em;
    width: 1fr;
    height: 20em; }
  .nav-main a {
    font-size: 1.4em;
    transition: 0.5s; }
  .nav-main img {
    width: 6em; } }

/*---------------------FOOTER---------------------*/
.footer-foo {
  background-color: #1800D8;
  box-shadow: 1px 5px 20px #1800D8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%; }

.footer-foo h2, p {
  margin-top: 1%;
  font-family: 'Cormorant', serif;
  font-size: 100%;
  color: #fff; }

.footer-foo img {
  width: 4%;
  height: auto;
  margin-right: 4%;
  margin-top: 0.5%; }

@media (min-width: 1025px) and (max-width: 1200px) {
  .footer-foo h2 {
    font-size: 1.2em; }
  .footer-foo p {
    font-size: 1em; }
  .footer-foo img {
    width: 8%;
    height: auto; } }

@media (min-width: 780px) and (max-width: 1025px) {
  .footer-foo h2 {
    font-size: 1.2em; }
  .footer-foo p {
    font-size: 1em; }
  .footer-foo img {
    width: 8%;
    height: auto; } }

@media (min-width: 480px) and (max-width: 780px) {
  .footer-foo h2 {
    font-size: 1.2em; }
  .footer-foo p {
    font-size: 1em; }
  .footer-foo img {
    width: 8%;
    height: auto; } }

/*FULL RESPONSIVE 480  PARA FOOTER*/
@media (max-width: 480px) {
  .footer-foo {
    flex-direction: column-reverse;
    height: 20em; }
  .footer-foo h2 {
    font-size: 1.4em;
    transition: 0.5s;
    margin-top: 10%; }
  .footer-foo p {
    font-size: 1em;
    transition: 0.5s;
    text-align: center; }
  .footer-foo img {
    width: 20%; } }

/*---------------------INICIO--------------------*/
.fondo {
  background-image: url(../image/Fondo-inicio.jpg.jpg);
  background-size: 100% 100%; }

.titulo {
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center; }

.titulo h1 {
  color: #fff;
  font-size: 5em;
  font-family: 'Cormorant', serif;
  text-shadow: 0px 0px 10px #000000;
  letter-spacing: 0.5em;
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(300px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    transform: translateZ(12px);
    filter: blur(0);
    opacity: 1; } }

.subtitulo {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1900d87b;
  box-shadow: 0px 0px 55px #000000; }

.subtitulo p {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Cormorant', serif;
  text-shadow: 0px 0px 3px #ffffff;
  letter-spacing: 0.2em; }

/*AZULES*/
.azul-inicio {
  height: 22em;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.azul-inicio img {
  box-shadow: 0px 0px 40px #000000;
  width: 11%;
  height: auto;
  border-radius: 100%; }

/*BARRA*/
.barra-inicio {
  height: 2em;
  width: 100%;
  margin-top: -1.19%;
  margin-bottom: -1%;
  background-image: linear-gradient(to left, #1800D8, #1900d8b1, rgba(255, 255, 255, 0.26)); }

/* IMAGEN Y FORMULARIO */
.formulario-inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  height: 35em; }

.formulario-inicio form {
  width: 150%;
  margin-right: 6%;
  border: 0.2em solid #0f007d;
  border-radius: 3%;
  box-shadow: 0px 0px 10px #c2c2ff;
  background-color: #8c8c8c1e; }

.titulo-form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.titulo-form h2 {
  margin-top: 5%;
  font-family: 'Cormorant', serif;
  font-size: 4em;
  color: #0f007d; }

.titulo-form p {
  font-size: 1.5em;
  margin-top: 5%;
  font-family: 'Cormorant', serif;
  color: #fff;
  background-color: #0f007d; }

/* EMAILFORMULARIO*/
.ingrese-mail-inicio {
  color: #0f007d;
  font-family: 'Cormorant', serif;
  font-size: 1.6em;
  margin-left: 10%; }

.ingrese_mail_inicio {
  width: 50%;
  margin-left: 10%;
  box-shadow: 0px 0px 3px #0f007d; }

/*COMENTARIO FORMULARIO*/
.ingrese-comentario-inicio {
  color: #0f007d;
  font-family: 'Cormorant', serif;
  font-size: 1.6em;
  margin-left: 10%;
  margin-top: 5%; }

.ingrese_comentario_inicio {
  width: 50%;
  margin-left: 10%;
  box-shadow: 0px 0px 3px #0f007d; }

/*BOTON ENVIAR*/
.enviar-form-inicio {
  width: 50%;
  margin-left: 10%; }

.imagen-formulario img {
  width: 85%;
  border-radius: 2%;
  margin-left: 5%; }

@media (min-width: 1200px) and (max-width: 1780px) {
  .titulo h1 {
    letter-spacing: 0.3em;
    overflow: hidden; }
  .subtitulo p {
    font-size: 1.1em;
    text-align: center; }
  .barra-inicio {
    overflow: hidden;
    margin-bottom: 3%;
    margin-top: -0.1%;
    height: 1em; }
  .formulario-inicio {
    height: 50em; } }

@media (min-width: 1025px) and (max-width: 1200px) {
  .titulo h1 {
    letter-spacing: 0.3em;
    overflow: hidden; }
  .subtitulo p {
    font-size: 1.1em;
    text-align: center; }
  .azul-inicio img {
    width: 15%; }
  .barra-inicio {
    overflow: hidden;
    margin-bottom: 3%;
    margin-top: -1.6%; }
  .titulo-form h2 {
    font-size: 3em; }
  .titulo-form p {
    font-size: 1.4em;
    text-align: center; } }

@media (min-width: 780px) and (max-width: 1025px) {
  .titulo h1 {
    letter-spacing: 0.3em;
    overflow: hidden; }
  .subtitulo p {
    font-size: 1.1em;
    text-align: center; }
  .azul-inicio img {
    width: 15%; }
  .barra-inicio {
    margin-bottom: 3%;
    margin-top: -1.6%; }
  .titulo-form h2 {
    font-size: 3em; }
  .titulo-form p {
    font-size: 1.4em;
    text-align: center; } }

@media (min-width: 480px) and (max-width: 780px) {
  .titulo h1 {
    letter-spacing: 0.1em; }
  .subtitulo p {
    font-size: 1.2em;
    text-align: center; }
  .azul-inicio img {
    width: 15%; }
  .barra-inicio {
    margin-bottom: 3%;
    margin-top: -2.1%; }
  .formulario-inicio form {
    height: 68%; }
  .titulo-form h2 {
    font-size: 2.5em; }
  .titulo-form p {
    font-size: 0.8em;
    text-align: center; }
  .ingrese-mail-inicio {
    font-size: 1.2em; }
  .ingrese_mail_inicio {
    height: 2em; }
  .ingrese-comentario-inicio {
    font-size: 1.2em; }
  .ingrese_comentario_inicio {
    height: 4em; } }

/*FULL 480 RESPONSIVE PARA MOBILE INICIO*/
@media (max-width: 480px) {
  .titulo {
    width: 100%;
    height: 15em; }
  .titulo h1 {
    font-size: 3.5em;
    letter-spacing: 0em;
    animation: focus-in-contract-bck 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      transform: translateZ(300px);
      filter: blur(12px);
      opacity: 0; }
    100% {
      transform: translateZ(12px);
      filter: blur(0);
      opacity: 1; } }
  .subtitulo {
    width: 100%;
    height: 5em; }
  .subtitulo p {
    font-size: 100%;
    text-align: center;
    text-shadow: 0px 0px 0px #fff; }
  .azul-inicio {
    flex-direction: column; }
  .azul-inicio img {
    width: 20%;
    box-shadow: 0px 0px 10px #000000; }
  .barra-inicio {
    position: relative;
    bottom: 0.7em;
    margin-top: -1.3%; }
  /*formulario*/
  .imagen-formulario img {
    width: 80%;
    margin-left: 10%; }
  .formulario-inicio {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fff;
    height: 55em; }
  .formulario-inicio form {
    width: 150%;
    height: 27em;
    margin-right: 10%;
    margin-left: 10%;
    border: 0.2em solid #0f007d;
    border-radius: 3%;
    box-shadow: 0px 0px 10px #c2c2ff;
    background-color: #8c8c8c1e; }
  .titulo-form {
    flex-direction: column;
    align-items: center; }
  .titulo-form h2 {
    margin-top: 5%;
    font-family: 'Cormorant', serif;
    font-size: 2em;
    color: #0f007d; }
  .titulo-form p {
    font-size: 1em;
    margin-top: 5%;
    font-family: 'Cormorant', serif;
    color: #fff;
    background-color: #0f007d; }
  /* EMAILFORMULARIO*/
  .ingrese-mail-inicio {
    color: #0f007d;
    font-family: 'Cormorant', serif;
    font-size: 1.5em;
    margin-left: 10%; }
  .ingrese_mail_inicio {
    width: 50%;
    margin-left: 10%;
    box-shadow: 0px 0px 3px #0f007d; }
  /*COMENTARIO FORMULARIO*/
  .ingrese-comentario-inicio {
    color: #0f007d;
    font-family: 'Cormorant', serif;
    font-size: 1.6em;
    margin-left: 10%;
    margin-top: 5%; }
  .ingrese_comentario_inicio {
    width: 50%;
    margin-left: 10%;
    box-shadow: 0px 0px 3px #0f007d; }
  /*BOTON ENVIAR*/
  .enviar-form-inicio {
    width: 50%;
    margin-left: 10%; } }

/*---------------------QUIENES SOMSOS---------------------*/
/*QUINES SOMOS PRIMERAPARTE*/
.titulo-logo-quienes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30em; }

.titulo-logo-quienes img {
  width: 30%;
  position: relative;
  top: 3%;
  right: 6%;
  margin-left: 11%; }

.titulo-logo-quienes h1 {
  font-size: 6.3em;
  font-family: 'Cormorant', serif;
  color: #1800D8;
  text-align: center; }

/*PRIMER CONTAINER MUELLE*/
.muelle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "muelle1 muelle2" "muelle4 muelle3"; }

.muelle img {
  grid-area: muelle1;
  grid-row: 1/3;
  width: 70%;
  border-radius: 2%;
  margin-left: 20%;
  box-shadow: 0px 0px 10px #060036; }

.muelle p {
  grid-area: muelle2;
  color: #1800D8;
  font-size: 1.5em;
  margin-right: 20%;
  letter-spacing: 5px;
  font-family: 'Cormorant', serif;
  text-align: justify;
  margin-top: 5%; }

.muelle text {
  grid-area: muelle3;
  margin-bottom: 20%;
  color: #1800D8;
  font-size: 1.5em;
  margin-right: 20%;
  letter-spacing: 5px;
  font-family: 'Cormorant', serif;
  text-align: justify; }

/*AZULES QUIENES*/
.azules-quienes {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.azules-quienes img {
  height: auto;
  width: 15%;
  border-radius: 100%;
  box-shadow: 0px 0px 10px #060036; }

/*QUIENES SOMOS SEGUNDA PARTE*/
.texto-dos-quienes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "espacio1 espacio2" "espacio3 espacio4"; }

.texto-dos-quienes p {
  color: #1800D8;
  font-size: 1.3em;
  letter-spacing: 5px;
  font-family: 'Cormorant', serif;
  grid-area: espacio1;
  text-align: justify;
  margin-top: 10%;
  margin-left: 25%; }

.texto-dos-quienes text {
  grid-area: espacio3;
  color: #1800D8;
  font-size: 1.3em;
  text-align: justify;
  letter-spacing: 5px;
  font-family: 'Cormorant', serif;
  margin-left: 25%; }

.texto-dos-quienes img {
  grid-area: espacio2;
  grid-row: 1/3;
  width: 59%;
  margin-top: 10%;
  margin-left: 25%;
  box-shadow: 0px 0px 10px #060036;
  border-radius: 20px;
  position: relative;
  left: 1%; }

/*NUESTRA MISION Y VISION*/
/*LOGO Y NUESTRA MISION TITULO / TEXTO*/
/*MISION*/
.contenedor-mision {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 0.8fr 0.5fr;
  grid-template-areas: "mision1 mision2" "mision4 mision3"; }

.contenedor-mision img {
  grid-area: mision1;
  width: 65%;
  margin-left: 25%;
  margin-top: 15%;
  grid-row: 1/3; }

.contenedor-mision h2 {
  grid-area: mision2;
  font-family: 'Cormorant', serif;
  font-size: 6em;
  margin-top: 20%;
  color: #1800D8;
  margin-left: 10%; }

.contenedor-mision p {
  grid-area: mision3;
  color: #1800D8;
  font-size: 1.3em;
  letter-spacing: 5px;
  text-align: justify;
  margin-top: 1%;
  margin-right: 11%;
  margin-left: 10%; }

/*VISION */
.contenedor-vision {
  height: 35em;
  display: grid;
  grid-template-columns: 1fr 0.9fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas: "vision1 vision2" "vision3 vision4"; }

.contenedor-vision h2 {
  grid-area: vision1;
  font-family: 'Cormorant', serif;
  font-size: 6em;
  color: #1800D8;
  margin-left: 10%; }

.contenedor-vision p {
  grid-area: vision3;
  color: #1800D8;
  font-size: 1.3em;
  letter-spacing: 5px;
  text-align: justify;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%; }

.contenedor-vision img {
  grid-area: vision2;
  grid-row: 1/3;
  width: 90%;
  margin-top: 10%;
  box-shadow: 0px 0px 10px #060036;
  border-radius: 2%; }

@media (min-width: 1200px) and (max-width: 1780px) {
  .azules-quienes {
    margin-top: 5%; }
  .contenedor-vision img {
    margin-top: 0%; } }

@media (min-width: 1025px) and (max-width: 1200px) {
  .titulo-logo-quienes {
    width: 70em; }
  .titulo-logo-quienes img {
    width: 40%;
    margin-left: 15%; }
  .titulo-logo-quienes h1 {
    font-size: 9em;
    text-align: center; }
  .muelle p {
    font-size: 1.2em; }
  .muelle text {
    font-size: 1.2em; }
  .texto-dos-quienes p {
    font-size: 1.2em; }
  .texto-dos-quienes text {
    font-size: 1.2em; }
  .texto-dos-quienes img {
    height: 39em;
    margin-top: 15%; }
  .contenedor-mision h2 {
    font-size: 9em; }
  .contenedor-mision p {
    font-size: 1.2em; }
  .contenedor-mision img {
    width: 90%;
    margin-top: 40%;
    position: relative;
    right: 10%; }
  .contenedor-vision {
    height: 50em; }
  .contenedor-vision h2 {
    font-size: 9em; }
  .contenedor-vision p {
    font-size: 1.2em; }
  .contenedor-vision img {
    margin-top: 40%; } }

@media (min-width: 780px) and (max-width: 1025px) {
  .titulo-logo-quienes {
    width: 60em;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 50em; }
  .titulo-logo-quienes img {
    width: 40%;
    margin-left: 15%; }
  .titulo-logo-quienes h1 {
    font-size: 7em;
    text-align: center; }
  .muelle p {
    font-size: 1em; }
  .muelle text {
    font-size: 1em; }
  .texto-dos-quienes p {
    font-size: 1em; }
  .texto-dos-quienes text {
    font-size: 1em; }
  .texto-dos-quienes img {
    height: 33em;
    margin-top: 15%; }
  .contenedor-mision h2 {
    font-size: 8em; }
  .contenedor-mision p {
    font-size: 1em; }
  .contenedor-mision img {
    width: 90%;
    margin-top: 40%;
    position: relative;
    right: 10%; }
  .contenedor-vision {
    height: 45em; }
  .contenedor-vision h2 {
    font-size: 8em; }
  .contenedor-vision p {
    font-size: 1em; }
  .contenedor-vision img {
    margin-top: 40%; } }

@media (min-width: 480px) and (max-width: 780px) {
  .titulo-logo-quienes {
    width: 45em;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    max-width: 100%; }
  .titulo-logo-quienes img {
    width: 40%;
    margin-left: 15%; }
  .titulo-logo-quienes h1 {
    font-size: 6em;
    text-align: center; }
  .muelle p {
    font-size: 0.8em; }
  .muelle text {
    font-size: 0.7em; }
  .texto-dos-quienes p {
    font-size: 0.8em; }
  .texto-dos-quienes text {
    font-size: 0.8em; }
  .texto-dos-quienes img {
    height: 25em;
    margin-top: 15%; }
  .contenedor-mision h2 {
    font-size: 6em; }
  .contenedor-mision p {
    font-size: 0.8em; }
  .contenedor-mision img {
    width: 80%;
    margin-top: 40%;
    position: relative;
    right: 10%; }
  .contenedor-vision h2 {
    font-size: 6em; }
  .contenedor-vision p {
    font-size: 0.8em; }
  .contenedor-vision img {
    margin-top: 50%; } }

/*FULL RESPONSIVE 480 QUIENES*/
@media (max-width: 480px) {
  .titulo-logo-quienes {
    flex-wrap: wrap; }
  .titulo-logo-quienes img {
    width: 50%;
    margin-left: 17%; }
  .titulo-logo-quienes h1 {
    font-size: 4em;
    text-align: center;
    margin-top: 10%; }
  .muelle {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    grid-template-areas: "muelle1" "muelle2" "muelle3"; }
  .muelle img {
    margin-left: 15%;
    margin-top: 0%;
    grid-row: 1/2; }
  .muelle p {
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%; }
  .muelle text {
    margin-top: 20%;
    margin-right: 10%;
    margin-left: 10%; }
  .azules-quienes {
    height: 10em;
    overflow: hidden;
    width: 100%;
    max-width: 100%; }
  .azules-quienes img {
    width: 25%; }
  .texto-dos-quienes {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas: "espacio1" "espacio3" "espacio4"; }
  .texto-dos-quienes p {
    margin-right: 10%;
    margin-left: 10%; }
  .texto-dos-quienes text {
    margin-top: 20%;
    margin-right: 10%;
    margin-left: 10%; }
  .texto-dos-quienes img {
    grid-area: espacio4;
    margin-left: 19%;
    margin-right: 20%;
    margin-top: 20%; }
  .contenedor-mision {
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1fr 0.5fr;
    grid-area: "mision1" "mision2" "mision3" "mision4"; }
  .contenedor-mision h2 {
    text-align: center;
    margin-left: 1%;
    font-size: 5em; }
  .contenedor-mision p {
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%; }
  .contenedor-mision img {
    grid-area: mision3;
    grid-row: 3/3;
    margin-left: 20%; }
  .contenedor-vision {
    height: 90em;
    grid-template-columns: 1fr;
    grid-template-rows: 0.28fr 0.4fr 0.5fr;
    grid-template-areas: "vision1" "vision3" "vision2"; }
  .contenedor-vision h2 {
    text-align: center;
    margin-left: 1%;
    font-size: 5em; }
  .contenedor-vision p {
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%; }
  .contenedor-vision img {
    grid-area: vision2;
    margin-left: 5%;
    margin-top: 40%; } }

/*---------------------ASESORAMIENTO ADUANERO---------------------*/
.inicio-consultoria {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: 50em;
  grid-template-areas: "area1 area2"; }

.inicio-consultoria h1 {
  grid-area: area1;
  font-size: 8em;
  font-family: 'Cormorant', serif;
  color: #1800D8;
  padding-top: 10%;
  text-align: inherit;
  margin-left: 10%; }

.inicio-consultoria p {
  grid-area: area1;
  font-size: 1.5em;
  text-align: justify;
  margin-left: 14%;
  margin-right: 9%;
  padding-top: 45%;
  color: #1800D8; }

.inicio-consultoria img {
  grid-area: area2;
  width: 90%;
  margin-top: 30%;
  border-radius: 3%;
  box-shadow: 0px 0px 10px #0f007d; }

/*segunda parte consultoria*/
.experimentados-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas: "consul1 consul2 " "consul3 consul4"; }

.logo-asesoramiento {
  grid-area: consul1;
  width: 50%;
  margin-left: 27%; }

.experimentados-container h2 {
  grid-area: consul2;
  font-size: 6em;
  color: #1800D8;
  font-family: 'Cormorant', serif;
  margin-top: 10%;
  width: 100%; }

.consultores-imagen {
  grid-area: consul3;
  width: 90%;
  margin-left: 10%; }

.experimentados-container p {
  font-family: 'Cormorant', serif;
  grid-area: consul4;
  grid-row: 2/4;
  font-size: 1.5em;
  text-align: justify;
  margin-right: 20%;
  color: #1800D8;
  line-height: 2em; }

.espacio-experimentados {
  font-family: 'Cormorant', serif;
  position: relative;
  top: 4%;
  text-align: justify; }

/*AZULES*/
.azules_asesoramiento {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.azules_asesoramiento img {
  width: 12em;
  border-radius: 100%;
  box-shadow: 0px 0px 20px #8c8c8c; }

/* TERCERA PARTE COSULTORIA*/
.barra_asesoramiento {
  margin-top: 5%;
  height: 10px;
  background-image: linear-gradient(to left, #1800D8, #1900d8b1, rgba(255, 255, 255, 0.26)); }

.titulo_servicios {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 150px; }

.titulo-servicos {
  font-family: 'Cormorant', serif;
  font-size: 4em;
  color: #1800D8;
  text-shadow: #ffffff; }

.puntos_servicios {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 550px; }

.puntos_servicios li {
  letter-spacing: 3px;
  font-size: 1.2em;
  font-family: 'Cormorant', serif;
  margin-left: 11%;
  color: #1800D8; }

/*FORMULARIO ASESORAMIENTO*/
.formulario-quienes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  height: 40em;
  background-color: #0f007d; }

.formulario-quienes form {
  width: 50%;
  border: 0.2em solid #0f007d;
  border-radius: 3%;
  box-shadow: 0px 0px 10px #0000ff;
  background-color: #ffffff; }

.titulo-form-quienes {
  display: flex;
  flex-direction: column;
  align-items: center; }

.titulo-form-quienes h2 {
  margin-top: 2%;
  font-family: 'Cormorant', serif;
  font-size: 4em;
  color: #0f007d; }

.titulo-form-quienes p {
  font-size: 1.5em;
  margin-top: 2%;
  font-family: 'Cormorant', serif;
  color: #fff;
  background-color: #0f007d; }

/* EMAILFORMULARIO*/
.ingrese-mail-quienes {
  color: #0f007d;
  font-family: 'Cormorant', serif;
  font-size: 1.6em;
  margin-left: 10%; }

.ingrese_mail_quienes {
  width: 50%;
  margin-left: 10%;
  box-shadow: 0px 0px 3px #0f007d; }

/*COMENTARIO FORMULARIO*/
.ingrese-comentario-quienes {
  color: #0f007d;
  font-family: 'Cormorant', serif;
  font-size: 1.6em;
  margin-left: 10%;
  margin-top: 5%; }

.ingrese_comentario_quienes {
  width: 50%;
  margin-left: 10%;
  box-shadow: 0px 0px 3px #0f007d; }

/*BOTON ENVIAR*/
.enviar-form-quienes {
  width: 50%;
  margin-left: 10%; }

@media (min-width: 1200px) and (max-width: 1780px) {
  .formulario-quienes {
    height: 50em; } }

@media (min-width: 1025px) and (max-width: 1200px) {
  .inicio-consultoria {
    height: 45em; }
  .inicio-consultoria h1 {
    font-size: 6em; }
  .experimentados-container h2 {
    font-size: 5em; }
  .experimentados-container p {
    font-size: 1.3em; }
  .consultores-imagen {
    width: 90%; }
  .azules_asesoramiento img {
    width: 15%;
    margin-top: 5%; }
  .titulo-servicos {
    text-align: center;
    font-size: 2.4em; }
  .puntos_servicios li {
    text-align: justify;
    font-size: 1em;
    padding: 1%;
    margin-right: 10%; }
  .titulo-form-quienes p {
    text-align: center;
    font-size: 2em; } }

@media (min-width: 780px) and (max-width: 1025px) {
  .inicio-consultoria {
    height: 45em; }
  .inicio-consultoria h1 {
    font-size: 5em; }
  .inicio-consultoria p {
    font-size: 1.5em;
    margin-right: 15%; }
  .inicio-consultoria img {
    height: 60%;
    margin-top: 60%; }
  .logo-asesoramiento {
    width: 70%;
    margin-left: 15%; }
  .experimentados-container h2 {
    font-size: 3.5em; }
  .experimentados-container p {
    font-size: 1em; }
  .consultores-imagen {
    width: 90%; }
  .azules_asesoramiento {
    height: 15em;
    overflow: hidden;
    width: 100%;
    max-width: 100%; }
  .azules_asesoramiento img {
    width: 15%;
    margin-top: 10%; }
  .titulo-servicos {
    text-align: center;
    font-size: 2.4em; }
  .puntos_servicios li {
    text-align: justify;
    font-size: 1em;
    padding: 1%;
    margin-right: 10%; }
  .titulo-form-quienes p {
    text-align: center;
    font-size: 2em; } }

@media (min-width: 480px) and (max-width: 780px) {
  .inicio-consultoria {
    height: 30em; }
  .inicio-consultoria h1 {
    font-size: 4em; }
  .inicio-consultoria p {
    font-size: 1em;
    margin-right: 15%; }
  .inicio-consultoria img {
    height: 40%;
    margin-top: 40%; }
  .logo-asesoramiento {
    width: 70%;
    margin-left: 15%; }
  .experimentados-container h2 {
    font-size: 3.5em; }
  .experimentados-container p {
    font-size: 1em; }
  .consultores-imagen {
    width: 90%; }
  .azules_asesoramiento {
    height: 15em;
    overflow: hidden;
    width: 100%;
    max-width: 100%; }
  .azules_asesoramiento img {
    width: 15%;
    margin-top: 10%; }
  .titulo-servicos {
    text-align: center;
    font-size: 2.4em; }
  .puntos_servicios li {
    text-align: justify;
    font-size: 1em;
    padding: 1%;
    margin-right: 10%; }
  .titulo-form-quienes p {
    text-align: center;
    font-size: 2em; } }

/*FULL RESPONSIVE 480  PARA ASESORAMIENTO*/
@media (max-width: 480px) {
  .inicio-consultoria {
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas: "area1" "area2"; }
  .inicio-consultoria h1 {
    font-size: 3.5em;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%; }
  .inicio-consultoria p {
    margin-top: 35%; }
  .inicio-consultoria img {
    margin-top: 10%;
    margin-left: 5.1%; }
  /*CONSULTORES EXPERIMENTADOS*/
  .experimentados-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.2fr 3.0fr 1fr;
    grid-template-areas: "consul1" "consul2" "consul3" "consul4"; }
  .logo-asesoramiento {
    width: 30%;
    margin-left: 35%;
    margin-top: 15%; }
  .experimentados-container h2 {
    font-size: 3.5em;
    text-align: center;
    margin-top: 1%; }
  .experimentados-container p {
    margin-top: 50%;
    margin-right: 10%;
    margin-left: 10%; }
  .espacio-experimentados {
    position: relative;
    top: 10%; }
  .consultores-imagen {
    grid-area: consul4;
    width: 80%;
    margin-top: 10%; }
  /*AZULES*/
  .azules_asesoramiento {
    height: 10em;
    overflow: hidden;
    width: 100%;
    max-width: 100%; }
  .azules_asesoramiento img {
    width: 20%; }
  /*SERVICIOCOSULTORES*/
  .titulo_servicios {
    flex-wrap: wrap; }
  .titulo-servicos {
    text-align: center;
    font-size: 2.4em; }
  .puntos_servicios {
    flex-direction: column;
    text-align: center;
    height: 500%; }
  .puntos_servicios li {
    text-align: justify;
    font-size: 1em;
    padding: 5%;
    margin-right: 10%; }
  /*FORMULario consultores*/
  .formulario-quienes {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #0f007d;
    height: 45em; }
  .formulario-quienes form {
    width: 150%;
    margin-right: 10%;
    margin-left: 10%;
    border: 0.2em solid #1e00ff;
    border-radius: 3%;
    box-shadow: 0px 0px 15px #0000ff;
    background-color: #ffffff; }
  .titulo-form-quienes {
    flex-direction: column;
    align-items: center; }
  .titulo-form-quienes h2 {
    margin-top: 5%;
    font-family: 'Cormorant', serif;
    font-size: 2em;
    color: #0f007d; }
  .titulo-form-quienes p {
    text-align: center;
    font-size: 1em;
    margin-top: 5%;
    font-family: 'Cormorant', serif;
    color: #fff;
    background-color: #0f007d; }
  /* EMAILFORMULARIO*/
  .ingrese-mail-quienes {
    color: #0f007d;
    font-family: 'Cormorant', serif;
    font-size: 1.5em;
    margin-left: 10%; }
  .ingrese_mail_quienes {
    width: 50%;
    margin-left: 10%;
    box-shadow: 0px 0px 3px #0f007d; }
  /*COMENTARIO FORMULARIO*/
  .ingrese-comentario-quienes {
    color: #0f007d;
    font-family: 'Cormorant', serif;
    font-size: 1.6em;
    margin-left: 10%;
    margin-top: 5%; }
  .ingrese_comentario_quienes {
    width: 50%;
    margin-left: 10%;
    box-shadow: 0px 0px 3px #0f007d; }
  /*BOTON ENVIAR*/
  .enviar-form-quienes {
    width: 50%;
    margin-left: 10%; } }

/*----------------- NUESTRO SERVICIO----------------------*/
.container-servicio {
  display: flex;
  flex-direction: column; }

.container-servicio h1 {
  font-family: 'Cormorant', serif;
  color: #1800D8;
  font-size: 7em;
  height: 2em;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.container-servicio p {
  font-family: 'Cormorant', serif;
  color: #0f007d;
  font-size: 2em;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

/*AZULES SERVICIO*/
.azul-servicio {
  width: 100%;
  height: 20em;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.azul-servicio img {
  width: 10em;
  border-radius: 100%;
  box-shadow: 0px 0px 30px #0f007d; }

/*Espacio del container*/
.carousel {
  background-color: #0f007d;
  height: 39em;
  box-shadow: 0px 0px 10px #1800cd; }

/*Margen del container*/
.carousel-item {
  margin-left: 24%;
  margin-top: 5%; }

/*Edicion de la imahgens*/
.carru {
  box-shadow: 1px 0px 50px #1800D8;
  border-radius: 2%; }

/*segunda parte servicio*/
.container-servicio-dos {
  display: flex;
  background-color: #070038;
  height: 35em;
  box-shadow: 0px 0px 20px #1800D8; }

.importacion-servicios {
  margin-left: 5%;
  background-color: #0f007d;
  width: 40%;
  box-shadow: 0px 0px 20px #1800D8; }

.importacion-servicios h2 {
  width: 100%;
  height: 1.3em;
  font-family: 'Cormorant', serif;
  color: #fff;
  font-size: 5em;
  text-shadow: 5px 5px 5px #060036;
  margin-top: 10%;
  text-align: center; }

.importacion-servicios p {
  font-family: 'Cormorant', serif;
  font-size: 2em;
  text-shadow: 5px 5px 5px #060036;
  text-align: center; }

.importacion-servicios li {
  font-family: 'Cormorant', serif;
  color: #fff;
  font-size: 1.1em;
  margin-top: 7%;
  text-shadow: 5px 5px 5px #060036;
  margin-top: 5%;
  text-align: justify;
  margin-left: 10%; }

.exportacion-servicios {
  margin-left: 10%;
  background-color: #0f007d;
  width: 40%;
  box-shadow: 0px 0px 20px #1800D8; }

.exportacion-servicios h2 {
  width: 100%;
  height: 1.3em;
  font-family: 'Cormorant', serif;
  color: #fff;
  font-size: 5em;
  text-shadow: 5px 5px 5px #060036;
  margin-top: 10%;
  text-align: center; }

.exportacion-servicios p {
  font-family: 'Cormorant', serif;
  font-size: 2em;
  text-shadow: 5px 5px 5px #060036;
  text-align: center; }

.exportacion-servicios li {
  font-family: 'Cormorant', serif;
  color: #fff;
  font-size: 1.1em;
  margin-top: 7%;
  text-shadow: 5px 5px 5px #060036;
  margin-top: 5%;
  text-align: justify;
  margin-left: 10%; }

/*Tercera parte servicio*/
.container-servicio-tres {
  height: 100%; }

/*SERVICIO AEREO*/
.aereo {
  width: 100%;
  display: grid;
  height: 50em;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 1.9fr 1.9fr 1fr;
  grid-template-areas: "aereo1 aereo2" "aereo3 aereo4" "aereo5 aereo6"; }

.aereo img {
  grid-area: aereo1;
  grid-row: 1/6;
  width: 90%;
  margin-left: 5%;
  margin-top: 18%;
  border-radius: 3%;
  box-shadow: 0px 0px 3px #0f007d; }

.aereo h2 {
  grid-area: aereo2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6em;
  font-family: 'Cormorant', serif;
  color: #1800D8;
  letter-spacing: 0.3em; }

.lista-aereo {
  grid-area: aereo4;
  margin-left: 5%;
  font-family: 'Cormorant', serif;
  font-size: 1.5em;
  color: #1800D8;
  margin-bottom: 20%; }

.contacto-aereo {
  grid-area: aereo6;
  width: 40%;
  height: 40%;
  margin-left: 25%;
  box-shadow: 0px 0px 8px #1800cd; }

/*SERVICIO MARITIMO*/
.maritimo {
  background-color: #0f007d;
  width: 100%;
  height: 50em;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  grid-template-rows: 1.9fr 1.9fr 1.9fr;
  grid-template-areas: "maritimo1 maritimo2" "maritimo3 maritimo4" "maritimo5 maritimo6"; }

.maritimo h2 {
  grid-area: maritimo1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 5em;
  font-family: 'Cormorant', serif;
  color: #fff;
  letter-spacing: 0.3em;
  margin-left: 10%;
  margin-bottom: 5%; }

.maritimo img {
  grid-area: maritimo2;
  width: 80%;
  height: 35em;
  grid-row: 1/6;
  border-radius: 3%;
  box-shadow: 0px 0px 50px #1800D8;
  margin-left: 10%;
  margin-top: 20%; }

.lista-maritimo {
  grid-area: maritimo3;
  font-family: 'Cormorant', serif;
  font-size: 1.5em;
  color: #fff;
  margin-left: 15%;
  margin-top: 8%; }

.contacto-maritimo {
  margin-top: 10%;
  width: 40%;
  height: 20%;
  margin-left: 25%;
  box-shadow: 0px 0px 8px #1800cd; }

/*SERVICIO TERRESTRE*/
.terrestre {
  width: 100%;
  display: grid;
  height: 50em;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 1.9fr 1.9fr 1fr;
  grid-template-areas: "terrestre1 terrestre2" "terrestre3 terrestre4" "terrestre5 terrestre6"; }

.terrestre img {
  grid-area: terrestre1;
  grid-row: 1/6;
  width: 90%;
  height: 50%;
  margin-left: 5%;
  margin-top: 35%;
  border-radius: 3%;
  box-shadow: 0px 0px 10px #0f007d; }

.terrestre h2 {
  grid-area: terrestre2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  font-family: 'Cormorant', serif;
  color: #1800D8;
  letter-spacing: 0.3em;
  margin-top: 10%; }

.lista-terrestre {
  grid-area: terrestre4;
  margin-left: 5%;
  font-family: 'Cormorant', serif;
  font-size: 1.5em;
  color: #1800D8;
  margin-right: 7%;
  margin-top: 5%; }

.contacto-terrestre {
  grid-area: terrestre6;
  grid-area: aereo6;
  width: 40%;
  height: 30%;
  margin-left: 25%;
  box-shadow: 0px 0px 8px #1800cd; }

/* FORMULARIO */
.formulario-servicio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #0f007d;
  height: 40em; }

.formulario-servicio form {
  width: 150%;
  margin-right: 6%;
  border: 0.2em solid #0f007d;
  border-radius: 3%;
  box-shadow: 0px 0px 10px #c2c2ff;
  background-color: #fffbfb; }

.titulo-form-servicio {
  display: flex;
  flex-direction: column;
  align-items: center; }

.titulo-form-servicio h2 {
  margin-top: 5%;
  font-family: 'Cormorant', serif;
  font-size: 4em;
  color: #0f007d; }

.titulo-form-servicio p {
  font-size: 1.5em;
  margin-top: 5%;
  font-family: 'Cormorant', serif;
  color: #fff;
  background-color: #0f007d; }

/* EMAILFORMULARIO*/
.ingrese-mail-servicio {
  color: #0f007d;
  font-family: 'Cormorant', serif;
  font-size: 1.6em;
  margin-left: 10%; }

.ingrese_mail_servicio {
  width: 50%;
  margin-left: 10%;
  box-shadow: 0px 0px 3px #0f007d; }

/*COMENTARIO FORMULARIO*/
.ingrese-comentario-servicio {
  color: #0f007d;
  font-family: 'Cormorant', serif;
  font-size: 1.6em;
  margin-left: 10%;
  margin-top: 5%; }

.ingrese_comentario_servicio {
  width: 50%;
  margin-left: 10%;
  box-shadow: 0px 0px 3px #0f007d; }

/*BOTON ENVIAR*/
.enviar-form-servicio {
  width: 50%;
  margin-left: 10%;
  box-shadow: 0px 0px 3px #0f007d; }

.imagen-formulario-servicio img {
  width: 85%;
  border-radius: 2%;
  margin-left: 5%; }

@media (min-width: 1200px) and (max-width: 1780px) {
  .container-servicio h1 {
    font-size: 10em; }
  .container-servicio p {
    font-size: 3.8em; }
  .azul-servicio {
    height: 20em;
    overflow: hidden;
    width: 100%;
    max-width: 100%; }
  .carousel {
    height: 54em; }
  .container-servicio-dos {
    height: 35em; }
  .importacion-servicios h2 {
    font-size: 3.5em; }
  .importacion-servicios p {
    font-size: 2em; }
  .importacion-servicios li {
    margin-left: 5%;
    font-size: 1.3em;
    margin-right: 10%;
    margin-left: 10%; }
  .exportacion-servicios h2 {
    font-size: 3.5em; }
  .exportacion-servicios p {
    font-size: 2em; }
  .exportacion-servicios li {
    margin-left: 5%;
    font-size: 1.3em;
    margin-right: 10%;
    margin-left: 10%; }
  /*AEREO*/
  .aereo {
    height: 83em; }
  .aereo h2 {
    font-size: 7em; }
  .lista-aereo {
    margin-right: 10%;
    margin-left: 10%; }
  .lista-aereo li {
    font-size: 1.4em; }
  .contacto-aereo {
    height: 3em; }
  .maritimo {
    height: 50em; }
  .maritimo h2 {
    font-size: 5em; }
  .lista-maritimo li {
    font-size: 1.3em; }
  .maritimo.contacto {
    width: 10%; }
  .terrestre {
    height: 78em; }
  .terrestre h2 {
    font-size: 4em; }
  .lista-terrestre {
    margin-bottom: 65%;
    height: 4em; }
  .lista-terrestre li {
    font-size: 1.3em;
    margin-top: 2%;
    position: relative;
    top: 100%; }
  .terrestre-contacto {
    margin-top: 20%; }
  .formulario-servicio {
    height: 60em; } }

@media (min-width: 1025px) and (max-width: 1200px) {
  .container-servicio h1 {
    font-size: 10em; }
  .container-servicio p {
    font-size: 3.8em; }
  .azul-servicio {
    height: 20em;
    overflow: hidden;
    width: 100%;
    max-width: 100%; }
  .azul-servicio img {
    width: 15%; }
  .carousel {
    height: 34em; }
  .container-servicio-dos {
    height: 35em; }
  .importacion-servicios h2 {
    font-size: 3.5em; }
  .importacion-servicios p {
    font-size: 2em; }
  .importacion-servicios li {
    margin-left: 5%;
    font-size: 1.3em;
    margin-right: 10%;
    margin-left: 10%; }
  .exportacion-servicios h2 {
    font-size: 3.5em; }
  .exportacion-servicios p {
    font-size: 2em; }
  .exportacion-servicios li {
    margin-left: 5%;
    font-size: 1.3em;
    margin-right: 10%;
    margin-left: 10%; }
  /*AEREO*/
  .aereo {
    height: 83em; }
  .aereo h2 {
    font-size: 7em; }
  .lista-aereo {
    margin-right: 10%;
    margin-left: 10%; }
  .lista-aereo li {
    font-size: 1.4em; }
  .aereo img {
    height: 30em;
    margin-top: 50%; }
  .maritimo {
    height: 50em; }
  .maritimo h2 {
    font-size: 5em; }
  .maritimo img {
    height: 20em;
    margin-top: 50%; }
  .lista-maritimo li {
    font-size: 1.3em; }
  .maritimo.contacto {
    width: 10%; }
  .terrestre {
    height: 58em; }
  .terrestre h2 {
    font-size: 4em; }
  .terrestre img {
    margin-top: 45%; }
  .lista-terrestre {
    margin-bottom: 65%;
    height: 4em; }
  .lista-terrestre li {
    font-size: 1.3em; }
  .terrestre-contacto {
    margin-top: 20%; } }

@media (min-width: 780px) and (max-width: 1025px) {
  .container-servicio h1 {
    font-size: 7em; }
  .container-servicio p {
    font-size: 2.5em; }
  .azul-servicio {
    height: 13em;
    overflow: hidden;
    width: 100%;
    max-width: 100%; }
  .azul-servicio img {
    width: 13%; }
  .carousel {
    height: 28em; }
  .container-servicio-dos {
    height: 25em; }
  .importacion-servicios h2 {
    font-size: 2.5em; }
  .importacion-servicios p {
    font-size: 1.5em; }
  .importacion-servicios li {
    margin-left: 5%;
    font-size: 0.9em;
    margin-right: 10%;
    margin-left: 10%; }
  .exportacion-servicios h2 {
    font-size: 2.5em; }
  .exportacion-servicios p {
    font-size: 1.5em; }
  .exportacion-servicios li {
    margin-left: 5%;
    font-size: 0.9em;
    margin-right: 10%;
    margin-left: 10%; }
  /*AEREO*/
  .aereo h2 {
    font-size: 5em; }
  .lista-aereo {
    margin-right: 10%;
    margin-left: 10%; }
  .lista-aereo li {
    font-size: 0.8em; }
  .aereo img {
    height: 30em;
    margin-top: 50%; }
  .maritimo {
    height: 40em; }
  .maritimo h2 {
    font-size: 3.6em;
    margin-bottom: 10%; }
  .maritimo img {
    height: 20em;
    margin-top: 60%; }
  .lista-maritimo li {
    font-size: 0.8em; }
  .maritimo.contacto {
    width: 10%; }
  .terrestre {
    height: 58em; }
  .terrestre h2 {
    font-size: 3.2em; }
  .lista-terrestre {
    margin-bottom: 25%;
    height: 4em; }
  .lista-terrestre li {
    font-size: 1em; }
  .terrestre-contacto {
    margin-top: 20%; } }

@media (min-width: 480px) and (max-width: 780px) {
  .container-servicio h1 {
    font-size: 5em; }
  .azul-servicio {
    height: 10em;
    overflow: hidden;
    width: 100%;
    max-width: 100%; }
  .azul-servicio img {
    width: 13%; }
  .carousel {
    height: 20em; }
  .container-servicio-dos {
    height: 25em; }
  .importacion-servicios h2 {
    font-size: 2.5em; }
  .importacion-servicios p {
    font-size: 1.5em; }
  .importacion-servicios li {
    margin-left: 5%;
    font-size: 0.9em;
    margin-right: 10%;
    margin-left: 10%; }
  .exportacion-servicios h2 {
    font-size: 2.5em; }
  .exportacion-servicios p {
    font-size: 1.5em; }
  .exportacion-servicios li {
    margin-left: 5%;
    font-size: 0.9em;
    margin-right: 10%;
    margin-left: 10%; }
  /*AEREO*/
  .aereo h2 {
    font-size: 5em; }
  .lista-aereo {
    margin-right: 10%;
    margin-left: 10%; }
  .lista-aereo li {
    font-size: 0.8em; }
  .aereo img {
    height: 30em;
    margin-top: 50%; }
  .maritimo {
    height: 40em; }
  .maritimo h2 {
    font-size: 3.6em;
    margin-bottom: 10%; }
  .maritimo img {
    height: 20em;
    margin-top: 60%; }
  .lista-maritimo li {
    font-size: 0.8em; }
  .terrestre {
    height: 40em; }
  .terrestre h2 {
    font-size: 3.2em; }
  .lista-terrestre {
    margin-bottom: 25%; }
  .lista-terrestre li {
    font-size: 0.8em; }
  .terrestre img {
    margin-top: 40%; }
  .formulario-servicio p {
    text-align: center; } }

/*FULL RESPONSIVE 480 SERVICIO*/
@media (max-width: 480px) {
  .container-servicio h1 {
    font-size: 3em;
    text-align: center; }
  .container-servicio p {
    font-size: 1em; }
  .azul-servicio {
    height: 10em;
    overflow: hidden;
    width: 100%;
    max-width: 100%; }
  .azul-servicio img {
    width: 20%;
    box-shadow: 0px 0px 10px #060036; }
  .carousel {
    height: 13em; }
  /*EXPO INMPOR*/
  .container-servicio-dos {
    height: 70em;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-evenly; }
  .importacion-servicios {
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 24em;
    border-radius: 5%; }
  .importacion-servicios h2 {
    font-size: 3em; }
  .importacion-servicios p {
    font-size: 1.4em; }
  .importacion-servicios li {
    margin-left: 5%;
    font-size: 0.9em;
    margin-right: 10%;
    margin-left: 10%; }
  .exportacion-servicios {
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 24em;
    position: relative;
    right: 1.1em;
    border-radius: 5%; }
  .exportacion-servicios h2 {
    font-size: 3em; }
  .exportacion-servicios p {
    font-size: 1.4em; }
  .exportacion-servicios li {
    margin-left: 5%;
    font-size: 0.9em;
    margin-right: 10%;
    margin-left: 10%; }
  /*AEREO*/
  .aereo {
    height: 85em;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.5fr 1.5fr 1fr 0fr 1fr;
    grid-template-areas: "aereo2" "aereo4" "aereo1" "aereo3" "aereo5" "aereo6"; }
  .aereo h2 {
    font-size: 4em;
    margin-top: 10%;
    text-align: center;
    margin-left: 5%; }
  .lista-aereo {
    margin-right: 10%;
    margin-left: 10%; }
  .lista-aereo li {
    font-size: 1em;
    text-align: justify;
    margin-top: 15%;
    padding: 0%; }
  .aereo img {
    width: 60%;
    height: 90%;
    grid-row: 3/5;
    margin-right: 10%;
    margin-left: 20%;
    margin-top: 5%; }
  .contacto-aereo {
    text-align: center;
    width: 50%;
    height: 50%;
    margin-top: 10%; }
  /*MARITIMO*/
  .maritimo {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 80em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 5em 0fr 1.5fr;
    grid-template-areas: "maritimo1" "maritimo3" "maritimo2" "maritimo4" "maritimo6" "maritimo5"; }
  .maritimo h2 {
    font-size: 2.7em;
    margin-right: 3%; }
  .maritimo img {
    grid-row: 3/6;
    height: 90%;
    width: 80%;
    margin-left: 10%; }
  .lista-maritimo {
    margin-right: 10%;
    margin-left: 10%; }
  .lista-maritimo li {
    font-size: 1em;
    text-align: justify;
    padding: 5%; }
  .contacto-maritimo {
    text-align: center;
    width: 50%;
    height: 15%;
    margin-top: 25%;
    margin-left: 27%;
    box-shadow: 0px 0px 10px #000000;
    grid-area: maritimo5; }
  /*TERRESTRE*/
  .terrestre {
    height: 75em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.5fr 0fr 1.5fr;
    grid-template-areas: "terrestre2" "terrestre4" "terrestre1" "terrestre3" "terrestre5" "terrestre6"; }
  .terrestre h2 {
    font-size: 2.8em;
    margin-top: 14%;
    text-align: center;
    margin-left: 5%; }
  .lista-terrestre {
    margin-right: 10%;
    margin-left: 10%; }
  .lista-terrestre li {
    font-size: 1em;
    text-align: justify;
    margin-top: 15%; }
  .terrestre img {
    width: 70%;
    height: 15em;
    grid-row: 3/5;
    margin-right: 10%;
    margin-left: 15%;
    margin-top: 15%; }
  .contacto-terrestre {
    text-align: center;
    width: 50%;
    height: 50%;
    margin-top: 10%; }
  /*FORMULARIO SERVICIO */
  .formulario-servicio {
    flex-wrap: wrap;
    height: 70em; }
  .formulario-servicio form {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    border: 0.2em solid #0f007d;
    border-radius: 3%;
    box-shadow: 0px 0px 10px #c2c2ff; }
  .formulario-servicio h2 {
    font-size: 3em; }
  .formulario-servicio p {
    text-align: center;
    font-size: 1em; } }

.container-contacto {
  height: 45em;
  background-color: #0c0065; }

.formulario-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40em; }

.formulario-contacto form {
  width: 40%;
  margin-right: 6%;
  border: 0.2em solid #0f007d;
  border-radius: 3%;
  box-shadow: 0px 0px 10px #c2c2ff;
  background-color: #ffffff;
  margin-left: 15%; }

.titulo-contacto {
  display: flex;
  flex-direction: column;
  align-items: center; }

.titulo-form-contacto h2 {
  margin-top: 5%;
  font-family: 'Cormorant', serif;
  font-size: 4em;
  color: #0f007d;
  text-align: center; }

.titulo-form-contacto p {
  font-size: 1.5em;
  margin-top: 5%;
  font-family: 'Cormorant', serif;
  color: #fff;
  background-color: #0f007d;
  text-align: center; }

/* EMAILFORMULARIO*/
.ingrese-mail-contacto {
  color: #0f007d;
  font-family: 'Cormorant', serif;
  font-size: 1.6em;
  margin-left: 10%; }

.ingrese_mail_contacto {
  width: 50%;
  margin-left: 10%;
  box-shadow: 0px 0px 3px #0f007d; }

/*COMENTARIO FORMULARIO*/
.ingrese-comentario-contacto {
  color: #0f007d;
  font-family: 'Cormorant', serif;
  font-size: 1.6em;
  margin-left: 10%;
  margin-top: 5%; }

.ingrese_comentario_contacto {
  width: 50%;
  margin-left: 10%;
  box-shadow: 0px 0px 3px #0f007d; }

/*BOTON ENVIAR*/
.enviar-form-contacto {
  width: 50%;
  margin-left: 10%; }

.imagen-formulario-contacto h1 {
  color: #fff;
  font-family: 'Cormorant', serif;
  margin-left: 35%;
  font-size: 4em;
  text-shadow: 0px 0px 4px black; }

.imagen-formulario-contacto iframe {
  margin-left: 10%;
  border-radius: 5%;
  border: 0.2em solid #0f007d;
  box-shadow: 0px 2px 10px #c2c2ff; }

@media (min-width: 1025px) and (max-width: 1200px) {
  .container-contacto {
    height: 91em; }
  .formulario-contacto {
    flex-wrap: wrap;
    height: 80em;
    overflow: hidden;
    width: 85%;
    max-width: 100%; }
  .imagen-formulario-contacto iframe {
    width: 150%; }
  .imagen-formulario-contacto h1 {
    font-size: 4em;
    position: relative;
    left: 10%; }
  .formulario-contacto form {
    width: 90%;
    margin-right: 15%;
    border: 0.2em solid #0f007d;
    border-radius: 3%;
    box-shadow: 0px 0px 10px #c2c2ff;
    background-color: #ffffff;
    position: relative;
    left: 10%; } }

@media (min-width: 780px) and (max-width: 1025px) {
  .container-contacto {
    margin: 0%;
    padding: 0%;
    height: 90em;
    width: 100%; }
  .formulario-contacto {
    flex-wrap: wrap;
    height: 80em;
    overflow: hidden;
    width: 100%;
    max-width: 100%; } }

@media (min-width: 480px) and (max-width: 780px) {
  .container-contacto {
    height: 85em; }
  .formulario-contacto {
    flex-wrap: wrap;
    height: 80em;
    overflow: hidden;
    width: 100%;
    max-width: 100%; }
  .imagen-formulario-contacto iframe {
    width: 100%;
    margin-left: 0%; }
  .titulo-form-contacto h2 {
    margin-right: 0%; }
  .imagen-formulario-contacto h1 {
    font-size: 4em;
    position: relative;
    right: 25%; }
  .formulario-contacto form {
    width: 80%;
    margin-right: 15%;
    border: 0.2em solid #0f007d;
    border-radius: 3%;
    box-shadow: 0px 0px 10px #c2c2ff;
    background-color: #ffffff;
    margin-left: 15%; } }

@media (max-width: 480px) {
  .container-contacto {
    height: 90em; }
  .formulario-contacto {
    flex-wrap: wrap;
    height: 80em;
    overflow: hidden;
    width: 100%;
    max-width: 100%; }
  .imagen-formulario-contacto iframe {
    width: 100%;
    margin-left: 0%; }
  .titulo-form-contacto h2 {
    margin-right: 0%; }
  .imagen-formulario-contacto h1 {
    font-size: 4em;
    position: relative;
    right: 25%; }
  .formulario-contacto form {
    width: 80%;
    margin-right: 15%;
    border: 0.2em solid #0f007d;
    border-radius: 3%;
    box-shadow: 0px 0px 10px #c2c2ff;
    background-color: #ffffff;
    margin-left: 15%; } }
