*{
    margin: 0;
    padding: 0;
    
    }
@import "pages/nav";
@import "pages/nav480rsv";
@import"pages/footer";
@import"pages/footer480srv";
@import "pages/inicio";
@import "pages/inicio480rsv";
@import "pages/quienes-somos";
@import "pages/quienes480rsv";
@import "pages/asesoramiento";
@import "pages/asesora480srv";
@import "pages/servicio";
@import "pages/servicio480rsv";
