@media(min-width:1025px) and (max-width: 1200px){
.inicio-consultoria{
height: 45em;
}
.inicio-consultoria h1{
font-size: 6em;
}

.experimentados-container h2{
font-size: 5em;
}
.experimentados-container p{
font-size: 1.3em;
}
.consultores-imagen{
width: 90%;
}

.azules_asesoramiento img{
width: 15%;
margin-top: 5%;
}
.titulo-servicos{
text-align: center;
font-size: 2.4em;
}
.puntos_servicios li{
text-align: justify;
font-size: 1em;
padding: 1%;
margin-right: 10%;
}
.titulo-form-quienes p{
text-align: center;
font-size: 2em;
}
}
