@media(min-width:480px) and (max-width: 780px){
.inicio-consultoria{
height: 30em;
}
.inicio-consultoria h1{
font-size: 4em;
}
.inicio-consultoria p{
font-size: 1em;
margin-right: 15%;
}
.inicio-consultoria img{
height: 40%;
margin-top: 40%;
}
.logo-asesoramiento{
width: 70%;
margin-left: 15%;
}
.experimentados-container h2{
font-size: 3.5em;
}
.experimentados-container p{
font-size: 1em;
}
.consultores-imagen{
width: 90%;
}
.azules_asesoramiento{
height: 15em;
overflow: hidden;
width: 100%;
max-width: 100%;
}
.azules_asesoramiento img{
width: 15%;
margin-top: 10%;
}
.titulo-servicos{
text-align: center;
font-size: 2.4em;
}
.puntos_servicios li{
text-align: justify;
font-size: 1em;
padding: 1%;
margin-right: 10%;
}
.titulo-form-quienes p{
text-align: center;
font-size: 2em;
}
}