.formulario-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #0c0065;
    height: 40em;
    
    }
    .formulario-contacto form{
    width: 40%;
    margin-right: 6%;
    border:  0.2em solid #0f007d;
    border-radius: 3%;
    box-shadow: 0px 0px 10px #c2c2ff;
    background-color: #ffffff;
    margin-left: 15%;
    }
    .titulo-contacto{
    display:flex;
    flex-direction: column;
    align-items: center;
    }
    .titulo-form-contacto h2{
    margin-top: 5%;
    font-family:'Cormorant', serif; 
    font-size: 4em;
    color: #0f007d;
    text-align: center;
    }
    .titulo-form-contacto p{
    font-size: 1.5em;
    margin-top: 5%;
    font-family:'Cormorant', serif;
    color: #fff; 
    background-color: #0f007d;
    text-align: center;
    }
    /* EMAILFORMULARIO*/
    .ingrese-mail-contacto{
    color: #0f007d;
    font-family:'Cormorant', serif; 
    font-size: 1.6em;
    margin-left: 10%;
    }
    .ingrese_mail_contacto{
    width: 50%;
    margin-left: 10%;
    box-shadow:0px 0px 3px #0f007d;
    }
    /*COMENTARIO FORMULARIO*/
    .ingrese-comentario-contacto{
    color: #0f007d;
    font-family:'Cormorant', serif; 
    font-size: 1.6em;
    margin-left: 10%;
    margin-top: 5%;
    }
    .ingrese_comentario_contacto{
    width: 50%;
    margin-left: 10%;
    box-shadow:0px 0px 3px #0f007d;
    }
    /*BOTON ENVIAR*/
    .enviar-form-contacto{
    width: 50%;
    margin-left: 10%;
    }

    .imagen-formulario-contacto h1{
        color: #fff;
        font-family:'Cormorant', serif;
       margin-left: 35%;
       font-size: 4em;
       text-shadow: 0px 0px 4px black;
    }
    .imagen-formulario-contacto iframe{
        margin-left: 10%;
        border-radius: 5%;
        border:  0.2em solid #0f007d;
        box-shadow: 0px 2px 10px #c2c2ff;
    }