@media (min-width:1200px) and (max-width: 1300px){
.container-contacto{
height: 100em;
}
.formulario-contacto{
flex-wrap: wrap;
height: 80em;
overflow: hidden;
width: 85%;
max-width: 100%;
}
.imagen-formulario-contacto iframe{
width: 150%;
}

.imagen-formulario-contacto h1{
font-size: 4em;
position: relative;
left: 10%;
}
.formulario-contacto form{
width: 90%;
margin-right: 15%;
border:  0.2em solid #0f007d;
border-radius: 3%;
box-shadow: 0px 0px 10px #c2c2ff;
background-color: #ffffff;
position: relative;
left: 10%;
}
}