@media(min-width:1025px) and (max-width: 1200px){
.formulario-contacto{
flex-wrap: wrap;
height: 80em;
overflow: hidden;
width: 100%;
max-width: 100%;
}
.imagen-formulario-contacto iframe{
width: 100%;
margin-left: 0%;
}
.titulo-form-contacto h2{
margin-right: 0%;
}
.imagen-formulario-contacto h1{
font-size: 4em;
position: relative;
right: 25%;
}
.formulario-contacto form{
width: 80%;
margin-right: 15%;
border:  0.2em solid #0f007d;
border-radius: 3%;
box-shadow: 0px 0px 10px #c2c2ff;
background-color: #ffffff;
margin-left: 15%;
}
}