
.formulario-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    height: 35em;
    }
    .formulario-contacto form{
    width: 150%;
    margin-right: 6%;
    border:  0.2em solid #0f007d;
    border-radius: 3%;
    box-shadow: 0px 0px 10px #c2c2ff;
    background-color: #8c8c8c1e;
    }
    .titulo-form contacto{
    display:flex;
    flex-direction: column;
    align-items: center;
    }
    .titulo-form h2{
    margin-top: 5%;
    font-family:'Cormorant', serif; 
    font-size: 4em;
    color: #0f007d;
    }
    .titulo-form p{
    font-size: 1.5em;
    margin-top: 5%;
    font-family:'Cormorant', serif;
    color: #fff; 
    background-color: #0f007d;
    }
    /* EMAILFORMULARIO*/
    .ingrese-mail-inicio{
    color: #0f007d;
    font-family:'Cormorant', serif; 
    font-size: 1.6em;
    margin-left: 10%;
    }
    .ingrese_mail_inicio{
    width: 50%;
    margin-left: 10%;
    box-shadow:0px 0px 3px #0f007d;
    }
    /*COMENTARIO FORMULARIO*/
    .ingrese-comentario-inicio{
    color: #0f007d;
    font-family:'Cormorant', serif; 
    font-size: 1.6em;
    margin-left: 10%;
    margin-top: 5%;
    }
    .ingrese_comentario_inicio{
    width: 50%;
    margin-left: 10%;
    box-shadow:0px 0px 3px #0f007d;
    }
    /*BOTON ENVIAR*/
    .enviar-form-inicio{
    width: 50%;
    margin-left: 10%;
    }