@media(min-width:780px) and (max-width: 1025px){
.container-contacto{
margin: 0%;
padding: 0%;
height: 90em;
width: 100%;
}
.formulario-contacto{
flex-wrap: wrap;
height: 80em;
overflow: hidden;
width: 100%;
max-width: 100%;
}
}