/*FOOTER*/
.footer-foo{ 
background-color: #1800D8;
box-shadow: 1px 5px 20px #1800D8;
display: flex;
justify-content: space-evenly; 
align-items:center;
width: 100%

}
.footer-foo h2,p{
margin-top: 1%;
font-family: 'Cormorant', serif;
font-size: 100%;
color: #fff;

}
.footer-foo img{
width: 4%;
height: auto;
margin-right: 4%;
margin-top: 0.5% ;
}
