@media(min-width:480px) and (max-width: 780px){
    .footer-foo h2{
        font-size: 1.2em;
    }
    .footer-foo p{
        font-size: 1em;
    }
    .footer-foo img{
    width: 8%;
    height: auto;
    }
}