@media(min-width:780px) and (max-width: 1025px){
    .footer-foo h2{
        font-size: 1.2em;
    }
    .footer-foo p{
        font-size: 1em;
    }
    .footer-foo img{
    width: 8%;
    height: auto;
    }
}