@media(min-width: 1025px) and (max-width: 1200px){
.titulo h1{
letter-spacing: 0.3em;
overflow: hidden;
}  
.subtitulo p{
font-size: 1.1em;
text-align: center;
}
.azul-inicio img{
width: 15%;
}
.barra-inicio{
overflow: hidden;
margin-bottom: 3%;
margin-top: -1.6%;
}
.titulo-form h2{
font-size: 3em;
}
.titulo-form p{
font-size: 1.4em;
text-align: center;
}
}