@media(min-width:480px) and (max-width: 780px){
.titulo h1{
letter-spacing: 0.1em;
}  
.subtitulo p{
font-size: 1.2em;
text-align: center;
}
.azul-inicio img{
width: 15%;
}
.barra-inicio{
margin-bottom: 3%;
margin-top: -2.1%;
}
.formulario-inicio form{
height: 68%;
}
.titulo-form h2{
font-size: 2.5em;
}
.titulo-form p{
font-size: 0.8em;
text-align: center;
}
.ingrese-mail-inicio{
font-size: 1.2em;
}
.ingrese_mail_inicio{
height: 2em;
}
.ingrese-comentario-inicio{
    font-size: 1.2em;
}
.ingrese_comentario_inicio{
height: 4em;
}
}