@media(min-width: 1200px) and (max-width: 1780px){
.titulo h1{
letter-spacing: 0.3em;
overflow: hidden;
}  
.subtitulo p{
font-size: 1.1em;
text-align: center;
}
.barra-inicio{
overflow: hidden;
margin-bottom: 3%;
margin-top: -0.1%;
height: 1em;
}
.formulario-inicio{
height: 50em;
}
}