/*--------------------NAV---------------------*/
.nav-main{
background-color: #1800D8;
display: flex;
justify-content: space-evenly; 
align-items:center;
}
.nav-main >a{
color: #fff;
font-size: 100%;
background-color: #1800D8;
text-decoration: none;
font-family: 'Cormorant', serif;
text-shadow: 0px 0px 5px #000000;
text-decoration: none;
}
nav > a:hover{
text-decoration: underline;
}
/*LOGO DE INICIO*/

.header-logo{
width: 4%;
height: auto;
}