@media(min-width:780px) and (max-width: 1025px){
.titulo-logo-quienes{
width: 60em;
}
.titulo-logo-quienes img{
width: 40%;
margin-left: 15%;
}
.titulo-logo-quienes h1{
font-size: 7em;
text-align: center;
}
.muelle p{
font-size: 1em;
}
.muelle text{
font-size: 1em;  
}
.texto-dos-quienes p{
font-size: 1em; 
}
.texto-dos-quienes text{
font-size: 1em; 
}
.texto-dos-quienes img{
height: 33em;
margin-top: 15%;
}
.contenedor-mision h2{
font-size: 8em;
}
.contenedor-mision p{
font-size: 1em; 
}
.contenedor-mision img{
width: 90%;
margin-top: 40%;
position: relative;
right: 10%;
}
.contenedor-vision{
height: 45em;
}
.contenedor-vision h2{
font-size: 8em;
}
.contenedor-vision p{
font-size: 1em;
}
.contenedor-vision img{
margin-top: 40%;
}
}