@media(min-width:1025px) and (max-width: 1200px){
.titulo-logo-quienes{
width: 70em;
}
.titulo-logo-quienes img{
width: 40%;
margin-left: 15%;
}
.titulo-logo-quienes h1{
font-size: 9em;
text-align: center;
}
.muelle p{
font-size: 1.2em;
}
.muelle text{
font-size: 1.2em;  
}
.texto-dos-quienes p{
font-size: 1.2em; 
}
.texto-dos-quienes text{
font-size: 1.2em; 
}
.texto-dos-quienes img{
height: 39em;
margin-top: 15%;
}
.contenedor-mision h2{
font-size: 9em;
}
.contenedor-mision p{
font-size: 1.2em; 
}
.contenedor-mision img{
width: 90%;
margin-top: 40%;
position: relative;
right: 10%;
}
.contenedor-vision{
height: 50em;
}
.contenedor-vision h2{
font-size: 9em;
}
.contenedor-vision p{
font-size: 1.2em;
}
.contenedor-vision img{
margin-top: 40%;
}
}