@media(min-width:480px) and (max-width: 780px){
.titulo-logo-quienes{
width: 45em;
}
.titulo-logo-quienes img{
width: 40%;
margin-left: 15%;
}
.titulo-logo-quienes h1{
font-size: 6em;
text-align: center;
}
.muelle p{
font-size: 0.8em;
}
.muelle text{
font-size: 0.7em;  
}
.texto-dos-quienes p{
font-size: 0.8em; 
}
.texto-dos-quienes text{
font-size: 0.8em; 
}
.texto-dos-quienes img{
height: 25em;
margin-top: 15%;
}
.contenedor-mision h2{
font-size: 6em;
}
.contenedor-mision p{
font-size: 0.8em; 
}
.contenedor-mision img{
width: 80%;
margin-top: 40%;
position: relative;
right: 10%;
}
.contenedor-vision h2{
font-size: 6em;
}
.contenedor-vision p{
font-size: 0.8em;
}
.contenedor-vision img{
margin-top: 50%;
}
}