@media(min-width:1200px) and (max-width: 1780px){
.container-servicio h1{
font-size: 10em;
}
.container-servicio p{
font-size: 3.8em;
}
.azul-servicio{
height: 20em;
overflow: hidden;
width: 100%;
max-width: 100%;
}
.carousel{
height: 54em;
}
.container-servicio-dos{
height: 35em;
}
.importacion-servicios h2{
font-size: 3.5em;
}
.importacion-servicios p{
font-size: 2em;
}
.importacion-servicios li{
margin-left: 5%;
font-size: 1.3em;
margin-right: 10%;
margin-left: 10%;
}
.exportacion-servicios h2{
font-size: 3.5em;
}
.exportacion-servicios p{
font-size: 2em;
}
.exportacion-servicios li{
margin-left: 5%;
font-size: 1.3em;
margin-right: 10%;
margin-left: 10%;
}
/*AEREO*/
.aereo {
height: 83em;
}
.aereo h2{
font-size: 7em;
}
.lista-aereo{
margin-right: 10%;
margin-left: 10%;
}
.lista-aereo li{
font-size: 1.4em;
}

.contacto-aereo{
height: 3em;
}
.maritimo{
height: 50em;
}
.maritimo h2{
font-size: 5em;
}

.lista-maritimo li{
font-size: 1.3em;
}
.maritimo.contacto{
width: 10%;
}

.terrestre {
height: 78em;
}
.terrestre h2{
font-size: 4em;
}

.lista-terrestre{
margin-bottom: 65%;
height: 4em;
}
.lista-terrestre li{
font-size: 1.3em;
margin-top: 2%;
position: relative;
top: 100%;
}
.terrestre-contacto{
margin-top: 20%;
}
.formulario-servicio{
height: 60em;
}
}