@media(min-width:480px) and (max-width: 780px){
.container-servicio h1{
font-size: 5em;
}
.azul-servicio{
height: 10em;
overflow: hidden;
width: 100%;
max-width: 100%;
}
.azul-servicio img{
width: 13%;

}
.carousel{
height: 20em;
}
.container-servicio-dos{
height: 25em;
}
.importacion-servicios h2{
font-size: 2.5em;
}
.importacion-servicios p{
font-size: 1.5em;
}
.importacion-servicios li{
margin-left: 5%;
font-size: 0.9em;
margin-right: 10%;
margin-left: 10%;
}
.exportacion-servicios h2{
font-size: 2.5em;
}
.exportacion-servicios p{
font-size: 1.5em;
}
.exportacion-servicios li{
margin-left: 5%;
font-size: 0.9em;
margin-right: 10%;
margin-left: 10%;
}
/*AEREO*/
.aereo h2{
font-size: 5em;
}
.lista-aereo{
margin-right: 10%;
margin-left: 10%;
}
.lista-aereo li{
font-size: 0.8em;
}
.aereo img{
height: 30em;
margin-top: 50%;
}
.maritimo{
height: 40em;
}
.maritimo h2{
font-size: 3.6em;
margin-bottom: 10%;
}
.maritimo img{
height: 20em;
margin-top: 60%;
}
.lista-maritimo li{
font-size: 0.8em;
}


.terrestre {
height: 40em;
}
.terrestre h2{
font-size: 3.2em;
}
.lista-terrestre{
margin-bottom: 25%;
}
.lista-terrestre li{
font-size: 0.8em;
}
.terrestre img{
margin-top: 40%;
}
.formulario-servicio p{
text-align: center;
}
}