/*FULL RESPONSIVE 480 SERVICIO*/
@media (max-width: 480px){

.container-servicio h1{
font-size: 3em;
text-align: center;
}
.container-servicio p{
font-size: 1em;
}
.azul-servicio{
height: 10em;
overflow: hidden;
width: 100%;
max-width: 100%;
}
.azul-servicio img{
width: 20%;
box-shadow:0px 0px 10px #060036;
}
.carousel{
height: 13em;
}
/*EXPO INMPOR*/
.container-servicio-dos{
height: 70em;
overflow: hidden;
width: 100%;
max-width: 100%;
flex-direction: column;
justify-content: space-evenly;
}
.importacion-servicios{
width: 90%;
justify-content: center;
align-items: center;
height: 24em;
border-radius: 5%;
}
.importacion-servicios h2{
font-size: 3em;
}
.importacion-servicios p{
font-size: 1.4em;
}
.importacion-servicios li{
margin-left: 5%;
font-size: 0.9em;
margin-right: 10%;
margin-left: 10%;
}
.exportacion-servicios{
width: 90%;
justify-content: center;
align-items: center;
height: 24em;
position: relative;
right: 1.1em;
border-radius: 5%
}
.exportacion-servicios h2{
font-size: 3em;
}
.exportacion-servicios p{
font-size: 1.4em;
}
.exportacion-servicios li{
margin-left: 5%;
font-size: 0.9em;
margin-right: 10%;
margin-left: 10%;
}
/*AEREO*/
.aereo{
height: 85em;
grid-template-columns: 1fr;
grid-template-rows: 0.3fr 0.5fr 1.5fr 1fr
0fr 1fr;
grid-template-areas: 
"aereo2"
"aereo4"
"aereo1"
"aereo3"
"aereo5"
"aereo6";
}
.aereo h2{
font-size: 4em;
margin-top: 10%;
text-align: center;
margin-left: 5%;
}
.lista-aereo{
margin-right: 10%;
margin-left: 10%;
}
.lista-aereo li{
font-size: 1em;
text-align: justify;
margin-top: 15%;
padding: 0%;

}
.aereo img{
width: 60%;
height: 90%;
grid-row: 3/5;
margin-right: 10%;
margin-left: 20%;
margin-top: 5%;
}
.contacto-aereo{
    text-align: center;
    width: 50%;
    height: 33%;
    margin-top: 10%;
}
/*MARITIMO*/
.maritimo{
height: 70em;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr 5em
0fr 1.5fr;
grid-template-areas:
"maritimo1"
"maritimo3"
"maritimo2"
"maritimo4"
"maritimo6"
"maritimo5";
}
.maritimo h2{
font-size: 3em;
margin-left: 5%;
text-align: center;
margin-bottom: 10%;
}
.maritimo img{
grid-row: 3/5;
height: 90%;
margin-top: 20%;
}
.lista-maritimo{
margin-right: 10%;
margin-left: 10%;
}
.lista-maritimo li{
font-size: 1em;
text-align: justify;
padding: 5%;
}
.contacto-maritimo{
text-align: center;
width: 50%;
height: 18%;
margin-top: 30%;
}
/*TERRESTRE*/
.terrestre{
    height: 75em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.5fr
    0fr 1.5fr;
    grid-template-areas: 
    "terrestre2"
    "terrestre4"
    "terrestre1"
    "terrestre3"
    "terrestre5"
    "terrestre6";
    }
    .terrestre h2{
    font-size: 2.8em;
    margin-top: 14%;
    text-align: center;
    margin-left: 5%;
    }
    .lista-terrestre{
    margin-right: 10%;
    margin-left: 10%;
    }
    .lista-terrestre li{
    font-size: 1em;
    text-align: justify;
    margin-top: 15%; 
    }
    .terrestre img{
    width: 70%;
    height: 15em;
    grid-row: 3/5;
    margin-right: 10%;
    margin-left: 15%;
    margin-top: 15%;
    }
    .contacto-terrestre{
        text-align: center;
        width: 50%;
        height: 20%;
        margin-top: 15%;
    }

    /*FORMULARIO SERVICIO */
    .formulario-servicio{
        flex-wrap: wrap;
        height: 70em;
    }
    
    .formulario-servicio form{
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        border:  0.2em solid #0f007d;
        border-radius: 3%;
        box-shadow: 0px 0px 10px #c2c2ff;
    }
    .formulario-servicio h2{
        font-size: 3em;
    }
    .formulario-servicio p{
        text-align: center;
        font-size: 1em;
    }
}
